/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
      padding-top: 50px;
      padding-bottom: 20px;
}

.imgClip{
    width:70px;
    overflow:hidden;
}
      

















