{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="span9">
      <section id="GoogleGroupEmail">
	<div class="page-header">
          <h1>About Us</h1>
	</div>
	<p>Seventh Harmonic was started by two graduate students in math at the University of Wisconsin-Madison and later joined by one more. We can be found in various coffee shops in the Madison area and we are always down for chatting with you. Neither of us knew anything about Android or small business ownership when we started. Today, we have both a product and a business! Our vision for Seventh Harmonic is still evolving. Will we remain a game company or will we git branched out? Will we grow in numbers or will we stay a small operation? Will we hold fast to our ideals and ambitions or sell out and go work for Google? Jkz, Google, we love you! Time alone will reveal all.</p> 
      </section>
    </div>
  </div>
  
  <section id="Lalit Jain">
    <div class="row">
    <div class="span9">
	<div class="page-header">
          <h3>Lalit Jain</h3>
	</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="img/Lalit.jpg" height="100%" width="100%"/>
    </div>
    <div class="col-md-6">
      <p> Lalit's mathematical interests lie in the areas of Number Theory and Algebraic Geometry - areas he loves to talk about. In a former life, Lalit was a Teach for America teacher in San Francisco and he is very passionate about educational reform. When not working on Bee-Line or his thesis (pretty much never) he enjoys playing video games, reading cheesy Sci-Fi and going hiking. His favorite functor is Hom.</p>
    </div>
  </div>
  </section>  

  <section id="Leland Jefferis">
  <div class="row">
    <div class="span9">
	<div class="page-header">
          <h3>Leland Jefferis</h3>
	</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="img/screenShots/slide3.png" height="100%" width="100%"/>
    </div>
    <div class="col-md-6">
      <p>I am a 5th year graduate student in computational mathematics. In my free time I program games and start businesses (apparently). My Ph.D. research adviser is <a href="https://www.math.wisc.edu/~jin"> Shi jin</a> and my personal math page is <a href="https://www.math.wisc.edu/~jefferis"> here</a>.</p>
    </div>
  </div>  
  </section>

  <section id="Nathan Clement">
  <div class="row">
    <div class="span9">
	<div class="page-header">
          <h3>Nathan Clement</h3>
	</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="img/nathan.jpg" height="100%" width="100%"/>
    </div>
    <div class="col-md-6">
      <p> Nathan Clement is a graduate student at the University of Wisconsin in the Math Ph.D. program (no surprise there).  He enjoys tinkering with digital media when he has spare time, but Bee Line is his first major project.  As the project artist, Nathan would like to give a big shout out to the people behind the Inkscape program. He is Batman. </p>
    </div>
  </div>  
  </section>


</div>
{% endblock %}
