{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="span9">
      <section id="GoogleGroupEmail">
	<div class="page-header">
          <h1>About Us</h1>
	</div>
	<p>Seventh Harmonic was started by Lalit Jain, and Leland Jefferis, graduate students in math at the University of Wisconsin-Madison. They were later joined by Nathan Clement, fellow math grad student and artist. Seventh Harmonic's original goal was to draw a blue triangle right side up on a phone screen. One thing lead to another, and before long Seventh Harmonic became a proper business staged to launch their first product. Their new goal is to produce <b>completely original</b> mobile recreational software that <b>looks great and plays smoothly</b>. 
</p>
      </section>
    </div>
  </div>
  
  <section id="Lalit Jain">
    <div class="row">
    <div class="span9">
	<div class="page-header">
          <h3>Lalit Jain</h3>
	</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="img/Lalit.jpg" height="100%" width="100%"/>
    </div>
    <div class="col-md-6">
      <p> Lalit's mathematical interests lie in Number Theory and Algebraic Geometry - areas he loves to talk about. In a former life, Lalit was a Teach for America teacher in San Francisco and he is still very passionate about educational reform. When not working on Bee-Line or his thesis (pretty much never) he enjoys playing video games, reading cheesy Sci-Fi and going hiking. His favorite functor is Hom.</p>
    </div>
  </div>
  </section>  

  <section id="Leland Jefferis">
  <div class="row">
    <div class="span9">
	<div class="page-header">
          <h3>Leland Jefferis</h3>
	</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="img/Leland.jpg" height="100%" width="100%"/>
    </div>
    <div class="col-md-6">
      <p>Leland is working towards a Ph.D. in computational mathematics for which he develops tricky numerical schemes for difficult physical simulations. He has more hobbies than are sustainable as a graduate student. These include surfing, ballroom dancing, music composition and foreign languages! Originally from the Pacific Northwest, he prefers a relaxed pace of life - something he remembers having 15 years ago. His favorite PDE is the Schr&#246dinger equation with conical eigenenergy crossings.
 <a href="https://www.math.wisc.edu/~jefferis"> Here's</a> his academic page.</p> 
    </div>
  </div>  
  </section>

  <section id="Nathan Clement">
  <div class="row">
    <div class="span9">
	<div class="page-header">
          <h3>Nathan Clement</h3>
	</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="img/nathan.jpg" height="100%" width="100%"/>
    </div>
    <div class="col-md-6">
      <p>Nathan Clement is a graduate student at the University of Wisconsin in the Math Ph.D. program.  He enjoys tinkering with digital media when he has spare time, but Bee-Line is his first major project.  As the project artist, Nathan would like to give a big shout out to the people behind the Inkscape program. He is Batman. </p>
    </div>
  </div>  
  </section>


</div>
{% endblock %}
