{% extends "base.html" %}
{% block title %}Beta{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="span9">
      <section id="GoogleGroupEmail">
	<div class="page-header">
          <h1>About Us</h1>
	</div>
	<p>Seventh Harmonic was started by two graduate students in math at the University of Wisconsin-Madison. Neither of us knew anything about Android or small business ownership when we started. Today, we have both a product and a business! Our vision for Seventh Harmonic is still evolving. Will we remain a game company or will we git branched out? Will we grow in numbers or will we stay a small operation? Will we hold fast to our ideals and ambitions or sell out and go work for Google? Jkz, Google, we love you! Time alone will reveal all.</p> 
      </section>
    </div>
  </div>
  
  <div class="row">
    <div class="span9">
      <section id="GoogleGroupEmail">
	<div class="page-header">
          <h3>Lalit Jain</h3>
	</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="img/screenShots/slide3.png" height="100%" width="100%"/>
    </div>
    <div class="col-md-6">
      <p>all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy </p>
    </div>
  </div>
  
  <div class="row">
    <div class="span9">
      <section id="GoogleGroupEmail">
	<div class="page-header">
          <h3>Leland Jefferis</h3>
	</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="img/screenShots/slide3.png" height="100%" width="100%"/>
    </div>
    <div class="col-md-6">
      <p>I am a 5th year graduate student in computational mathematics. In my free time I program games and start businesses (apparently). My Ph.D. research adviser is <a href="https://www.math.wisc.edu/~jin"> Shi jin</a> and my personal math page is <a href="https://www.math.wisc.edu/~jefferis"> here</a>.</p>
    </div>
  </div>  
</div>
{% endblock %}
