{% extends "base.html" %}
{% block title %}Beta{% endblock %}
{% block content %}

<head>  
  <link rel="stylesheet" href="css/slider.css" type="text/css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="js/screenSlider/jquery.flexslider-min.js"></script>
  <meta name="robots" content="noindex,follow" />
<head/>

<div class="container">
  <div class="row">    
    <div class="span8">
      <p>After submitting your email to our site, you will be sent an email from Google Groups adding you to the Beta Testers group. This will contain a link to the Google Play store where you can install BeeLine!</p>
    </div>
    
    <div class="span4">
      <div class="flex-container">
	<div class="flexslider">
	  <ul class="slides">
	    <li>
	      <a href="#"><img src="img/screenShots/slide1.png" /></a>
	      <p>Hand drawn art</p>
	    </li>
	    
	    <li>
	      <img src="img/screenShots/slide2.png" />
	      <p>Multiple level packs</p>
	    </li>
	    
	    <li>
	      <img src="img/screenShots/slide3.png" />
	      <p>Addicting and challenging puzzles</p>
	      
	    </li>
	    <li>
	      <img src="img/screenShots/slide4.png" />
	      <p>Puzzle chapters with evolving backgrounds</p>
	    </li>
	    
	  </ul>
	</div>
      </div>
      
      <script>
	$(document).ready(function () {
	$('.flexslider').flexslider({
	animation: 'fade',
	controlsContainer: '.flexslider'
	});
	});
      </script>
    </div>
  </div>
</div>
{% endblock %}


