{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="page-header"><h1>Contact Us</h1></div>
    <p>Feel free to contact us with any questions, comments, frustrations you have about our products.</p>
    <p><b>Email: </b><a href="mailto:harmonicanalysisdev@gmail.com">harmonicanalysisdev@gmail.com</a></p>
    <p><b>Twitter: </b><a href="twitter.com/SevHarDev">SevHarDev</a></p>
  </div>
</div>
</div>
{% endblock %}
