{% extends "base.html" %}
{% block title %}Press{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header"><h4>Factsheet</h4></div>
      <p><b>Developer:<br/></b> Seventh Harmonic <br/> Madison, WI</p>
      <p><b>Founding Date:<br/></b> August, 2013</p>
      <p><b>Website:<br/></b> <a href="seventhharmonic.com">seventhharmonic.com</a></p>
      <p><b>Titles:<br/></b> <a href="seventhharmonic.com/BeeLine.html">Bee-Line</a></p>
      <p><b>Contact:<br/></b> <a href="mailto:harmonicanalysisdev@gmail.com">harmonicanalysisdev@gmail.com</a></p>
      <p><b>Social Media:<br/></b> <a href="twitter.com/SevHarDev">Twitter</a></p>
      <p><b>Phone:<br/></b> +1 608 222 2222</p>
      
    </div>
    
    <div class="col-md-8">
      <div class="page-header"><h4>Press Release</h4></div>
      <p> <b>Madison, WI, November 20, 2013</b> </p>
      <div class="page-header"><h4>Screenshots</h4></div>
      <div class="page-header"><h4>Logo and Icon</h4></div>
      <div class="row">
	<div class="col-md-4">
	  <div class="page-header"><h4>Team</h4></div>
	  <p><b>Leland Jefferis</b><br/> Co-Founder, Development, Game Design and Music</p>
	  <p><b>Lalit Jain</b><br/> Co-Founder, Development and Strategy</p>
	  <p><b>Nathan Clement</b><br/>Art, Visuals and Strategy</p>
	</div>
	</div>
      
    </div>
  </div>
</div>
{% endblock %}
